body {
	background-color: #d2cfce;
}

h1 {
    text-align: center;
    margin-top: 3%; 
    margin-bottom: 1%; 
}

.mainDiv {
    text-align: center;
}

.gallery {
    margin-left: 2%; 
}

.imgListItem {
    display: inline;
}

.cardImg {
    padding: 5pt;
    transition: 0.5s;
    height: 75pt;

    &:hover {
        transform: scale(1.07);
        cursor: pointer;
    }
}

.overlay, .bigImage {
    position: fixed;
	height: 100%;
	width: 100%;
    top: 0;
    left: 0;
}

.bigScreenModal {
    position: fixed;
	height: 100%;
	width: 100%;
}

.overlay {
	background-color: black;
	opacity: 0.8;
}

.bigImage {
	background-position: center;
	background-repeat: no-repeat;
}

.leftArrowButton, .rightArrowButton, .dismissButton, .toolButton {
	opacity: 0.4;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}
.bigScreenModal:hover .leftArrowButton, .bigScreenModal:hover .rightArrowButton, .bigScreenModal:hover .dismissButton, .bigScreenModal:hover .toolButton {

    &:hover {
        cursor: pointer;
        opacity: 1.0;
    }
}

.leftArrowButton, .rightArrowButton {
    position: fixed;
	height:60pt;
    padding: 5pt;
    top: 50%;
    transform: translate(0, -50%);
}

.leftArrowButton {
    left: 0;
}

.rightArrowButton {
    right: 0;
}

.dismissButton {
    position: fixed;
    right: 0;
    height: 30pt;
    padding-right: 17pt;
    padding-top: 5pt;
}

.toolsBar {
    position: fixed;
	height: 20pt;
    bottom: 0;
	right: 0;
	padding-right: 30pt;
    padding-bottom: 5pt;
    display: inline-block;

    &:hover {
        opacity: 0.7;
        background-color: #7c7b7b;
    }
}

.toolButton {
	height: 100%;
	margin: 3pt;
}

.counter {
	position: fixed;
	color: gray;
	bottom: 0;
	left: 0;
	padding-bottom: 10pt;
	padding-left: 12pt;
	font-weight: bold;
	font-size: 22;
}

.arrowDivLeft, .arrowDivRight {
    position: fixed;
    height:70%;
    width: 70pt;
    top: 50%;
    transform: translate(0, -50%);

    &:hover {
        opacity: 0.4;
        background-color: #7c7b7b;
        transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
    }
}

.arrowDivLeft {
    left: 0;
}

.arrowDivRight {
    right: 0;
}

.dismissButtonDiv {
    position: fixed;
    top: 0;
    right: 0;
    height: 40pt;
    padding: 5pt;
    width: 60pt;
    display: inline-block;

    &:hover {
        opacity: 0.4;
        background-color: #7c7b7b;
        transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
    }
}

.descriptionDiv {
    position: fixed;
    bottom: 0;
    text-shadow: 2pt 2pt 4pt #000000;
    color: gray;
    font-size: 15pt;
    padding-left: 6pt;
    padding-bottom: 30pt;
}
