body {
	background-color: #d2cfce;
}

h1 {
    text-align: center;
    margin-top: 3%; 
    margin-bottom: 1%; 
}

.mainDiv {
    text-align: center;
}

.gallery {
    margin-left: 2%; 
}

.imgListItem {
    display: inline;
}

.cardImg {
    padding: 5px;
    transition: 0.5s;
    height: 100px;

    &:hover {
        transform: scale(1.10);
        cursor: pointer;
    }
}

.overlay, .modal {
    position: fixed;
	height: 100%;
	width: 100%;
    top: 0%;
    left: 0%;
}

.overlay {
	background-color: black;
	opacity: 0.8;
}

.modal {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.hiddenModal {
    display: none;
}

.leftArrowButton {
    position: absolute;
	max-height:30pt;
    display: none;
    float: left;
    left: 0px;
    top: 50%;
    z-index: 1000;
    padding: 5px;
    transform: translate(0%, 0%);
}

.modal:hover .leftArrowButton {
    position: absolute;
	max-height:50px;
    height: 30%;
    display: block;
    float: left;
    left: 0px;
    top: 50%;
    z-index: 1000;
    padding: 5px;
    transform: translate(0%, 0%);

    &:hover {
        cursor: pointer;
    }
}

.modal .rightArrowButton {
    position: absolute;
	max-height:50px;
    height: 30%;
    display: none;
    float: right;
    right: 0px;
    top: 50%;
    z-index: 1000;
    padding: 5px;
    transform: translate(0%, 0%);

    &:hover {
        cursor: pointer;
    }
}

.modal:hover .rightArrowButton {
    position: absolute;
	max-height:50px;
    height: 30%;
    display: block;
    float: right;
    right: 0px;
    top: 50%;
    z-index: 1000;
    padding: 5px;
    transform: translate(0%, 0%);

    &:hover {
        cursor: pointer;
    }
}

.modal .dismissButton {
    position: absolute;
	width: 10%;
    max-width: 20px;
    display: none;
    top: 0px;
    right: 0px;

    &:hover {
        cursor: pointer;
    }
}

.modal:hover .dismissButton {
    position: absolute;
    max-width: 50px;
    display: block;
    top: 0px;
    right: 0px;

    &:hover {
        cursor: pointer;
    }
}
